<launch>
  <arg name="lambda" default="6.0"/>
  <arg name="alpha"  default="4.2"/>
  <arg name="gamma"  default="0.0001"/>
  <arg name="ekfQ"   default="0.003"/>
  <arg name="ekfR"   default="0.001"/>
  <arg name="noise"  default="0"/>
  
  <param name="/smo/lambda" value="$(arg lambda)"/>
  <param name="/smo/alpha"  value="$(arg alpha)" />
  <param name="/smo/gamma"  value="$(arg gamma)" />
  <param name="/control/P1" value="0.5"/>
  <param name="/control/P2" value="0.5"/>
  <param name="/control/P3" value="0.5"/>
  <param name="/control/P4" value="0.5"/>
  <param name="/control/P5" value="0.5"/>
  <param name="/control/P6" value="0.5"/>
  <param name="/control/P7" value="0.5"/>
  <param name="/control/D1" value="0.0"/>
  <param name="/control/D2" value="0.0"/>
  <param name="/control/D3" value="0.0"/>
  <param name="/control/D4" value="0.0"/>
  <param name="/control/D5" value="0.0"/>
  <param name="/control/D6" value="0.0"/>
  <param name="/control/D7" value="0.0"/>
  <param name="/ekf/Q" value="$(arg ekfQ)"/>
  <param name="/ekf/R" value="$(arg ekfR)"/>
  <param name="/noise_factor" value="$(arg noise)"/>
  
  <param name="robot_description" textfile="$(find bring_up)/urdf/justina_description.urdf" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find bring_up)/rviz/justina_simul.rviz"/>
  <node name="trajectories" pkg="trajectory_gen" type="trajectory_gen.py" output="screen"/>
  <node name="simple_gui" pkg="simple_gui" type="simple_gui" output="screen"/>

  <node name="manipulator"  pkg="justina_manipulator" type="justina_manipulator_node">
    <remap from="/joint_speeds" to="/ekf/estimated_speeds"/>
  </node>
  <node name="control" pkg="justina_control" type="justina_control_node">
    <remap from="/joint_speeds" to="/ekf/estimated_speeds"/>
  </node>
  <node name="ekf" pkg="justina_ekf" type="justina_ekf_node"/>
  <node name="smo" pkg="justina_smo" type="justina_smo_node"/>
</launch>
